<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <!-- JSF -->
    <listener>
        <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
    </listener>

    <!-- JBoss Seam -->
    <listener>
        <listener-class>org.jboss.seam.servlet.SeamListener</listener-class>
    </listener>
    
    <filter>
        <filter-name>IE9CompatablityFixFilter</filter-name>
        <filter-class>be.fedict.eid.idp.webapp.IE9CompatablityFixFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>IE9CompatablityFixFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>XSSProtectionFilter</filter-name>
        <filter-class>be.fedict.eid.idp.webapp.XSSProtectionFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>XSSProtectionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>XFrameOptionsFilter</filter-name>
        <filter-class>be.fedict.eid.idp.webapp.XFrameOptionsFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>XFrameOptionsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>Seam Resource Servlet</servlet-name>
        <servlet-class>org.jboss.seam.servlet.SeamResourceServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Seam Resource Servlet</servlet-name>
        <url-pattern>/seam/resource/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>Seam Filter</filter-name>
        <filter-class>org.jboss.seam.servlet.SeamFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Seam Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- JBoss Richfaces -->
    <context-param>
        <param-name>org.richfaces.SKIN</param-name>
        <param-value>DEFAULT</param-value>
    </context-param>
    <context-param>
        <param-name>org.ajax4jsf.VIEW_HANDLERS</param-name>
        <param-value>com.sun.facelets.FaceletViewHandler</param-value>
    </context-param>

    <!-- Facelets -->
    <context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param>
    <context-param>
        <param-name>facelets.DEVELOPMENT</param-name>
        <param-value>true</param-value>
    </context-param>

    <!-- JSF -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.seam</url-pattern>
    </servlet-mapping>

    <!-- IdP protocol services extension points -->
    <listener>
        <listener-class>
            be.fedict.eid.idp.webapp.IdentityProviderServletContextListener
        </listener-class>
    </listener>

    <!-- IdP protocol entry point -->
    <servlet>
        <servlet-name>ProtocolEntryServlet</servlet-name>
        <servlet-class>be.fedict.eid.idp.webapp.ProtocolEntryServlet
        </servlet-class>
        <init-param>
            <param-name>UnknownProtocolPage</param-name>
            <param-value>/unknown-protocol</param-value>
        </init-param>
        <init-param>
            <param-name>UnsupportedBrowserPage</param-name>
            <param-value>/unsupported-browser</param-value>
        </init-param>
        <init-param>
            <param-name>ProtocolErrorPage</param-name>
            <param-value>/protocol-error</param-value>
        </init-param>
        <init-param>
            <param-name>ProtocolErrorMessageSessionAttribute</param-name>
            <param-value>idpProtocolErrorMessage</param-value>
        </init-param>
        <init-param>
            <param-name>IdentificationPage</param-name>
            <param-value>/identification</param-value>
        </init-param>
        <init-param>
            <param-name>AuthenticationPage</param-name>
            <param-value>/authentication</param-value>
        </init-param>
        <init-param>
        	<param-name>BlockedPage</param-name>
        	<param-value>/blocked</param-value>
        </init-param>
        <init-param>
        	<param-name>BlockedMessageSessionAttribute</param-name>
        	<param-value>blockedMessage</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProtocolEntryServlet</servlet-name>
        <url-pattern>/protocol/*</url-pattern>
    </servlet-mapping>
    
    <!-- HSTS filter -->
    <filter>
    	<filter-name>HSTSFilter</filter-name>
    	<filter-class>be.fedict.eid.applet.service.HSTSFilter</filter-class>
    	<init-param>
    		<param-name>TransportService</param-name>
    		<param-value>be/fedict/eid/idp/TransportServiceBean</param-value>
    	</init-param>
    </filter>
    <filter-mapping>
    	<filter-name>HSTSFilter</filter-name>
    	<servlet-name>ProtocolEntryServlet</servlet-name>
    </filter-mapping>

    <!-- IdP protocol exit point -->
    <servlet>
        <servlet-name>ProtocolExitServlet</servlet-name>
        <servlet-class>be.fedict.eid.idp.webapp.ProtocolExitServlet
        </servlet-class>
        <init-param>
            <param-name>ProtocolErrorPage</param-name>
            <param-value>/protocol-error</param-value>
        </init-param>
        <init-param>
            <param-name>ProtocolErrorMessageSessionAttribute</param-name>
            <param-value>idpProtocolErrorMessage</param-value>
        </init-param>
        <init-param>
            <param-name>ProtocolResponsePostPage</param-name>
            <param-value>/protocol-response-post</param-value>
        </init-param>
        <init-param>
            <param-name>ResponseActionSessionAttribute</param-name>
            <param-value>idpResponseAction</param-value>
        </init-param>
        <init-param>
            <param-name>ResponseAttributesSessionAttribute</param-name>
            <param-value>idpResponseAttributes</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProtocolExitServlet</servlet-name>
        <url-pattern>/protocol-exit</url-pattern>
    </servlet-mapping>

    <!-- eID Applet Identification -->
    <servlet>
        <servlet-name>AppletIdentificationServiceServlet</servlet-name>
        <servlet-class>be.fedict.eid.idp.webapp.IdPAppletServiceServlet
        </servlet-class>
        <init-param>
            <param-name>IdentityService</param-name>
            <param-value>be/fedict/eid/idp/AppletIdentityServiceBean
            </param-value>
        </init-param>
        <init-param>
            <param-name>IdentityIntegrityService</param-name>
            <param-value>be/fedict/eid/idp/IdentityIntegrityServiceBean
            </param-value>
        </init-param>
        <init-param>
            <param-name>SkipSecureConnectionCheck</param-name>
            <param-value>${eid-applet.SkipSecureConnectionCheck}</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>AppletIdentificationServiceServlet</servlet-name>
        <url-pattern>/applet-identification-service</url-pattern>
    </servlet-mapping>

    <!-- eID Applet Authentication -->
    <servlet>
        <servlet-name>AppletAuthenticationServiceServlet</servlet-name>
        <servlet-class>be.fedict.eid.idp.webapp.IdPAppletServiceServlet
        </servlet-class>
        <init-param>
            <param-name>IdentityService</param-name>
            <param-value>be/fedict/eid/idp/AppletIdentityServiceBean
            </param-value>
        </init-param>
        <init-param>
            <param-name>AuthenticationService</param-name>
            <param-value>be/fedict/eid/idp/AuthenticationServiceBean
            </param-value>
        </init-param>
        <init-param>
            <param-name>ChannelBindingService</param-name>
            <param-value>be/fedict/eid/idp/ChannelBindingServiceBean
            </param-value>
        </init-param>
        <init-param>
            <param-name>PreLogoff</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>Logoff</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>SkipSecureConnectionCheck</param-name>
            <param-value>${eid-applet.SkipSecureConnectionCheck}</param-value>
        </init-param>
        <init-param>
        	<param-name>SecureCardReaderService</param-name>
        	<param-value>be/fedict/eid/idp/SecureCardReaderServiceBean</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>AppletAuthenticationServiceServlet</servlet-name>
        <url-pattern>/applet-authentication-service</url-pattern>
    </servlet-mapping>

    <!-- eID Identity Servlet -->
    <servlet>
        <servlet-name>IdentityServlet</servlet-name>
        <servlet-class>be.fedict.eid.idp.webapp.IdentityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IdentityServlet</servlet-name>
        <url-pattern>/identity.pem</url-pattern>
    </servlet-mapping>

    <!-- HTTP session logging -->
    <filter>
        <filter-name>SessionLoggingFilter</filter-name>
        <filter-class>be.fedict.eid.idp.webapp.SessionLoggingFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionLoggingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>