<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	 version="3.0">
    <servlet>
        <servlet-name>AppletAuthnServiceServlet</servlet-name>
        <servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
        <init-param>
            <param-name>AuthenticationService</param-name>
            <param-value>java:global/AplicacionDemoApplet-ear/AplicacionDemoApplet-ejb/AuthenticationServiceOCSPBean</param-value>
<!--            <param-value>java:global/com.mycompany_AplicacionDemoApplet-ear_ear_1.0-SNAPSHOT/AplicacionDemoApplet-web-1.0-SNAPSHOT/AuthenticationServiceOCSPBean</param-value>-->
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>AppletAuthnServiceServlet</servlet-name>
        <url-pattern>/applet-service-authn</url-pattern>
    </servlet-mapping>             
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
